[Unit]
Description=Setup policy routing rules
After=network.target


[Service]
Type=oneshot
RemainAfterExit=true

# Add rules on start
#
ExecStart=/etc/policyrouting.sh start
ExecStop=/etc/policyrouting.sh stop


[Install]
WantedBy=multi-user.target
