[DEFAULT]
url = {{ pillar['dhcp']['integrator']['url'] }}
app = {{ pillar['dhcp']['integrator']['app'] }}
username = {{ pillar['dhcp']['integrator']['username'] }}
password = {{ pillar['dhcp']['integrator']['password'] }}


[dhcp]
output = /var/cache/dhcp/dhcpd.static.conf
template = /etc/dhcp/dhcpd.static.conf.tmpl
trigger = systemctl try-restart isc-dhcp-server

subnet_id = {{ pillar['dhcp']['integrator']['subnet_id'] }}
domain = {{ pillar['dhcp']['integrator']['domain'] }}
