[DEFAULT]
url = https://ipam.fulda.freifunk.net
app = integrator
username = integrator
password = U2hxjaSfnU


[dhcp]
output = /var/cache/dhcp/dhcpd.static.conf
template = /etc/dhcp/dhcpd.static.conf.tmpl
trigger = systemctl try-restart isc-dhcp-server

subnet_id = 15
domain = fffd.eu

