[Unit]
Description=A.L.F.R.E.D. (connection %I)
Wants=batman@%i.service
After=batman@%i.service
BindsTo=batman@%i.service

[Service]
Type=simple
ExecStart=/usr/sbin/alfred -i %i.bat -b %i.bat

[Install]
WantedBy=multi-user.target

