[Unit]
Description=Respondd

[Service]
ExecStart=/opt/respondd/respondd.py
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
