[Unit]
Description=Respondd

[Service]
ExecStart=/opt/respondd/respondd.py -g ff02::1:1001 -i fffd.bat -b fffd.bat
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
